includes:
    - api.neon
    - console.neon
    - database.neon
    - tracy.neon


extensions:
    doctrineDebug: Bio\Core\Doctrine\DoctrineDebugVoidCacheExtension
    diCacheGenerator: Bio\Core\DiCacheGeneratorExtension

    accessControl: Bio\Core\AccessControl\AccessControlExtension
    - Bio\App\Author\AuthorExtension


accessControl:
    issuer: https://api.vyvoj.net
    audience: https://vyvoj.net
    privateKeyPath: %baseDir%/data/Keys/private
    publicKeyPath: %baseDir%/data/Keys/public
