includes:
    - api.neon
    - console.neon
    - database.neon
    - tracy.neon


extensions:
    doctrineDebug: Bio\Core\Doctrine\DoctrineDebugVoidCacheExtension
    diCacheGenerator: Bio\Core\DiCacheGeneratorExtension



